<%- include('../partial/head.ejs') %>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="/css/blog.css">
    </head>
    <body>
    
        <%-include('../partial/loader.ejs')%>
            <div class="header-blog">
             <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
                <%-include('../partial/sidebar.ejs')%>
                    <div class="banner">
                        <div class="container-blog ">
                            <h1 class="banner-title">
                                <span>Calligraphy.</span>Blog
                            </h1>
                            <p>everything that you want to know about Calligraphy</p>
                            <form>
                                <input type="text" class="search-input" placeholder="find your news callygraphy . . .">
                                <button type="submit" class="search-btn">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
    
            </div>
            <!-- blog -->
            <section class="blog" id="blog">
                <div class="container-blog">
                    <div class="title">
                        <h2>Latest Blog</h2>
                        <p>recent blogs about calligraphy & design</p>
                    </div>
                    <div class="blog-content">
                        <!-- item -->
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="/img/blog/blog-p-1.jpg" alt="">
                                <span><i class="far fa-eye"></i> 22</span>
                            </div>
                            <div class="blog-text">
                                <span>20 January, 2020 <i class="far fa-eye"></i></span>
                                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum
                                    laudantium
                                    nihil! Quaerat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="/img/blog/blog-p-2.jpg" alt="">
                                <span><i class="far fa-eye"></i> 22</span>
                            </div>
                            <div class="blog-text">
                                <span>20 January, 2020</span>
                                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum
                                    laudantium
                                    nihil! Quaerat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="/img/blog/blog-p-3.jpg" alt="">
                                <span><i class="far fa-eye"></i> 22</span>
                            </div>
                            <div class="blog-text">
                                <span>20 January, 2020</span>
                                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum
                                    laudantium
                                    nihil! Quaerat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="/img/blog/blog-p-4.jpg" alt="">
                                <span><i class="far fa-eye"></i> 22</span>
                            </div>
                            <div class="blog-text">
                                <span>20 January, 2020</span>
                                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum
                                    laudantium
                                    nihil! Quaerat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="/img/blog/blog-p-5.jpg" alt="">
                                <span><i class="far fa-eye"></i> 22</span>
                            </div>
                            <div class="blog-text">
                                <span>20 January, 2020</span>
                                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum
                                    laudantium
                                    nihil! Quaerat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="/img/blog/blog-p-6.jpg" alt="">
                                <span><i class="far fa-eye"></i> 22</span>
                            </div>
                            <div class="blog-text">
                                <span>20 January, 2020</span>
                                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum
                                    laudantium
                                    nihil! Quaerat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                    </div>
                </div>
            </section>
            <!-- end of blog -->
            <!-- design -->
            <section class="design" id="design">
                <div class="container-blog">
                    <div class="title">
                        <h2>Calligraphy & Designs</h2>
                        <p>recent calligraphy & designs on the blog</p>
                    </div>
    
                    <div class="design-content">
                        <!-- item -->
                        <div class="design-item">
                            <div class="design-img">
                                <img src="/img/blog/art-design-1.jpg" alt="">
                                <span><i class="far fa-heart"></i> 22</span>
                                <span>20 January, 2020</span>
                            </div>
                            <div class="blog-text">
    
                                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum
                                    laudantium
                                    nihil! Quaerat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="design-item">
                            <div class="design-img">
                                <img src="/img/blog/art-design-1.jpg" alt="">
                                <span><i class="far fa-heart"></i> 22</span>
                                <span>20 January, 2020</span>
                            </div>
                            <div class="blog-text">
    
                                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum
                                    laudantium
                                    nihil! Quaerat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="design-item">
                            <div class="design-img">
                                <img src="/img/blog/art-design-1.jpg" alt="">
                                <span><i class="far fa-heart"></i> 22</span>
                                <span>20 January, 2020</span>
                            </div>
                            <div class="blog-text">
    
                                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum
                                    laudantium
                                    nihil! Quaerat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="design-item">
                            <div class="design-img">
                                <img src="/img/blog/art-design-1.jpg" alt="">
                                <span><i class="far fa-heart"></i> 22</span>
                                <span>20 January, 2020</span>
                            </div>
                            <div class="blog-text">
    
                                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum
                                    laudantium
                                    nihil! Quaerat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="design-item">
                            <div class="design-img">
                                <img src="/img/blog/art-design-1.jpg" alt="">
                                <span><i class="far fa-heart"></i> 22</span>
                                <span>20 January, 2020</span>
                            </div>
                            <div class="blog-text">
    
                                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum
                                    laudantium
                                    nihil! Quaerat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="design-item">
                            <div class="design-img">
                                <img src="/img/blog/art-design-1.jpg" alt="">
                                <span><i class="far fa-heart"></i> 22</span>
                                <span>20 January, 2020</span>
                            </div>
                            <div class="blog-text">
    
                                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum
                                    laudantium
                                    nihil! Quaerat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                    </div>
                </div>
            </section>
            <!-- end of design -->
            <!-- about -->
            <section class="about" id="about">
                <div class="container-blog">
                    <div class="about-content">
                        <div>
                            <img src="/img/blog/about-bg.jpg" alt="">
                        </div>
                        <div class="about-text">
                            <div class="title">
                                <h2>Out team</h2>
                                <p>art & design is my passion</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam voluptatem saepe
                                eius ipsum nam
                                provident sapiente, natus et vel eligendi laboriosam odit eos temporibus impedit
                                veritatis ut, illo
                                deserunt illum voluptate quis beatae quod. Necessitatibus provident dicta
                                consectetur labore!</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam corrupti natus, eos
                                quia recusandae
                                voluptatem veniam modi officiis minima provident rem sint porro fuga quos tempora ea
                                suscipit vero
                                velit sed laudantium eaque necessitatibus maxime!</p>
                        </div>
                    </div>
                </div>
            </section>
    
            <!-- end of about -->
            <%-include('../partial/footer.ejs')%>
                <%-include('../partial/js.ejs')%>
                    <script src="/js/blog.js"></script>
    
    </body>

    </html>