<%-include('../partial/head.ejs')%>
<head>
    <link rel="stylesheet" href="/css/blog_detail.css">
    <title>Home</title>
</head>
<body>
<%-include('../partial/sidebar.ejs')%>
<%-include('../partial/loader.ejs')%>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <p style="color: black">
                    So that this course can be enjoyed by everyone, including those without previous knowledge of
                    Arabic, an introduction to the script and to the basics of that alphabet is necessary before we
                    start working with calligraphy proper. This is why this first lesson is unusually lecture-like.
                    However, even Arabic speakers may find here something they didn't know before, as we don't
                    necessarily learn much about the script itself in school or daily life. <br>

                    What I aim to teach in this new series of lessons is not the traditional flowing scripts that
                    the words "Arabic calligraphy" evoke. As beautiful as they are, they are very formal, and it
                    takes a long and repetitive apprenticeship to learn to draw them properly, and even longer to be
                    able to express oneself with them ("Make patient imitation your habit", said Ibn al-Bawwâb, one
                    of the great names of the art). <br>
                </p>
            </div>
            <div class="col-lg-4">
                <h3>Popular post</h3>

            </div>
        </div>
    </div>
</main>
<%-include('../partial/footer.ejs')%>
<%-include('../partial/js.ejs')%>
<script src="/js/home.js"></script>
</body>
</html>