<%- include('../partial/head.ejs') %>
<head>
    <title>Calligraphy Blog</title>
    <link rel="stylesheet" href="/css/blog.css">
    <style>
        .blog-img .img-responsive {
            width: 100%;
            height: 500px;
            margin-bottom: 15px;
            border-radius: 5px;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .blog-img .title-responsive {
            width: 100%;
            height: 500px;
            margin-bottom: 15px;
            border-radius: 5px;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    </style>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0"
            nonce="j0FKofGa"></script>
</head>
<body>

<%- include('../partial/loader.ejs') %>
<div class="header-blog">
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    <%- include('../partial/sidebar.ejs') %>
    <div class="banner">
        <div class="container-blog ">
            <h1 class="banner-title">
                <span>Calligraphy.</span>Blog
            </h1>
            <p>everything that you want to know about Calligraphy</p>
            <form>
                <input type="search" name="keyword" class="search-input" placeholder="find your news callygraphy . . .">
                <button type="submit" class="search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>

</div>
<!-- blog -->
<section class="blog" id="blog">
    <div class="container-blog">
        <div class="title">
            <h2>Quick Calligraphy Blog</h2>
            <p>Let's preserve and develop calligraphy together</p>
        </div>
        <div class="blog-content">
            <!-- item -->
            <% for(var i = 0; i < list1.length; i++) {
            %>
                <div class="design-item">
                    <div class="design-img img-responsive">
                        <img class="img-responsive" src="<%= list1[i].thumnail %>" alt="">
                        <span><i class="far fa-heart"></i> 22</span>
                        <span><%= moment(list1[i].createAt).format('DD MMMM YYYY') %></span>
                    </div>
                    <div class="blog-text">
                        <h2><%= list1[i].name %></h2>
                        <div class="article-description">
                            <p><%= list1[i].articleDescription %></p>
                        </div>
                    </div>
                    <a href="/article/detail?id=<%= list1[i]._id %>">Read More</a>
                </div>
            <%
            } %>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-md justify-content-center">
                <%
                if (page > 1) {
                %>
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page=<%= page - 1 %>">Previous</a></li>
                <%
                }
                %>

                <%
                if (page > 2) {
                %>
                    <li class="page-item"><a class="page-link" href="?page=<%= page - 2 %>"><%= page - 2 %></a></li>
                <%
                }
                %>
                <%
                if (page > 1) {
                %>
                    <li class="page-item"><a class="page-link" href="?page=<%= page - 1 %>"><%= page - 1 %></a></li>
                <%
                }
                %>

                <li class="page-item active"><a class="page-link" href="#"><%= page %></a></li>

                <%
                if (page + 1 <= totalPage) {
                %>
                    <li class="page-item"><a class="page-link" href="?page=<%= page + 1 %>"><%= page + 1 %></a></li>
                <%
                }
                %>

                <%
                if (page + 2 <= totalPage) {
                %>
                    <li class="page-item"><a class="page-link" href="?page=<%= page + 2 %>"><%= page + 2 %></a></li>
                <%
                }
                %>

                <%
                if (page < totalPage) {
                %>
                    <li class="page-item"><a class="page-link" href="?page=<%= page + 1 %>">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page=<%= totalPage %>">Last</a></li>
                <%
                }
                %>
            </ul>
        </nav>
    </div>

</section>
<!-- end of blog -->
<!--<section class="design" id="design">-->
<!--    <div class="container-blog">-->
<!--        <div class="title">-->
<!--            <h2>LASTEST POSTS</h2>-->
<!--            <p>recent calligraphy & designs on the blog</p>-->
<!--        </div>-->

<!--        <div class="design-content">-->
<!--            &lt;!&ndash; item &ndash;&gt;-->
<!--            <div class="design-item">-->
<!--                <div class="design-img">-->
<!--                    <img src="/img/blog/art-design-1.jpg" alt="">-->
<!--                    <span><i class="far fa-heart"></i> 22</span>-->
<!--                    <span>20 January, 2020</span>-->
<!--                </div>-->
<!--                <div class="blog-text">-->

<!--                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>-->
<!--                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum-->
<!--                        laudantium-->
<!--                        nihil! Quaerat.</p>-->
<!--                    <a href="#">Read More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; end of item &ndash;&gt;-->
<!--            &lt;!&ndash; item &ndash;&gt;-->
<!--            <div class="design-item">-->
<!--                <div class="design-img">-->
<!--                    <img src="/img/blog/art-design-1.jpg" alt="">-->
<!--                    <span><i class="far fa-heart"></i> 22</span>-->
<!--                    <span>20 January, 2020</span>-->
<!--                </div>-->
<!--                <div class="blog-text">-->

<!--                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>-->
<!--                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum-->
<!--                        laudantium-->
<!--                        nihil! Quaerat.</p>-->
<!--                    <a href="#">Read More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; end of item &ndash;&gt;-->
<!--            &lt;!&ndash; item &ndash;&gt;-->
<!--            <div class="design-item">-->
<!--                <div class="design-img">-->
<!--                    <img src="/img/blog/art-design-1.jpg" alt="">-->
<!--                    <span><i class="far fa-heart"></i> 22</span>-->
<!--                    <span>20 January, 2020</span>-->
<!--                </div>-->
<!--                <div class="blog-text">-->

<!--                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>-->
<!--                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum-->
<!--                        laudantium-->
<!--                        nihil! Quaerat.</p>-->
<!--                    <a href="#">Read More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; end of item &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; design &ndash;&gt;-->
<!--<section class="design" id="design">-->
<!--    <div class="container-blog">-->
<!--        <div class="title">-->
<!--            <h2>Calligraphy & Designs</h2>-->
<!--            <p>recent calligraphy & designs on the blog</p>-->
<!--        </div>-->

<!--        <div class="design-content">-->
<!--            &lt;!&ndash; item &ndash;&gt;-->
<!--            <div class="design-item">-->
<!--                <div class="design-img">-->
<!--                    <img src="/img/blog/art-design-1.jpg" alt="">-->
<!--                    <span><i class="far fa-heart"></i> 22</span>-->
<!--                    <span>20 January, 2020</span>-->
<!--                </div>-->
<!--                <div class="blog-text">-->

<!--                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>-->
<!--                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum-->
<!--                        laudantium-->
<!--                        nihil! Quaerat.</p>-->
<!--                    <a href="#">Read More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; end of item &ndash;&gt;-->
<!--            &lt;!&ndash; item &ndash;&gt;-->
<!--            <div class="design-item">-->
<!--                <div class="design-img">-->
<!--                    <img src="/img/blog/art-design-1.jpg" alt="">-->
<!--                    <span><i class="far fa-heart"></i> 22</span>-->
<!--                    <span>20 January, 2020</span>-->
<!--                </div>-->
<!--                <div class="blog-text">-->

<!--                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>-->
<!--                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum-->
<!--                        laudantium-->
<!--                        nihil! Quaerat.</p>-->
<!--                    <a href="#">Read More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; end of item &ndash;&gt;-->
<!--            &lt;!&ndash; item &ndash;&gt;-->
<!--            <div class="design-item">-->
<!--                <div class="design-img">-->
<!--                    <img src="/img/blog/art-design-1.jpg" alt="">-->
<!--                    <span><i class="far fa-heart"></i> 22</span>-->
<!--                    <span>20 January, 2020</span>-->
<!--                </div>-->
<!--                <div class="blog-text">-->

<!--                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>-->
<!--                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum-->
<!--                        laudantium-->
<!--                        nihil! Quaerat.</p>-->
<!--                    <a href="#">Read More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; end of item &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- end of design -->
<!-- about -->
<section class="about" id="about">
    <div class="container-blog">
        <div class="about-content">
            <div>
                <img src="/img/blog/about-bg.jpg" alt="">
            </div>
            <div class="about-text">
                <div class="title">
                    <h2>Out team</h2>
                    <p>art & design is my passion</p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam voluptatem saepe
                    eius ipsum nam
                    provident sapiente, natus et vel eligendi laboriosam odit eos temporibus impedit
                    veritatis ut, illo
                    deserunt illum voluptate quis beatae quod. Necessitatibus provident dicta
                    consectetur labore!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam corrupti natus, eos
                    quia recusandae
                    voluptatem veniam modi officiis minima provident rem sint porro fuga quos tempora ea
                    suscipit vero
                    velit sed laudantium eaque necessitatibus maxime!</p>
            </div>
        </div>
        <div class="fb-comments" data-href="http://localhost:3000/blog" data-width="1000" data-numposts="3"
             data-order-by="reverse_time"></div>
    </div>
</section>

<!-- end of about -->
<%- include('../partial/footer.ejs') %>
<%- include('../partial/js.ejs') %>
<script src="/js/blog.js"></script>

</body>

</html>