<%-include('../partial/head.ejs')%>
<head>
    <link rel="stylesheet" href="/css/blog_detail.css">
    <title>Home</title>
</head>
<body>
<%-include('../partial/sidebar.ejs')%>
<%-include('../partial/loader.ejs')%>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
<main>

</main>
<%-include('../partial/footer.ejs')%>
<%-include('../partial/js.ejs')%>
<script src="/js/home.js"></script>
</body>
</html>