<%-include('../partial/head.ejs')%>

    <head>
        <title>FAQ Callygraphy</title>

        <link rel="stylesheet" href="/css/faq.css">
    </head>

    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
        <!-- Header -->
        <%-include('../partial/loader.ejs')%>
            <%-include('../partial/sidebar.ejs')%>
                <div class="container-faq">
                    <main class="wrapper">
                        <div class="image__wrapper">
                            <div class="image__wrapper_inner">
                            </div>
                            <img class="box" src="/img/faq/illustration-box-desktop.svg" alt="box">
                        </div>
                        <div class="accordion__wrapper">
                            <h1 class="title__accordion">FAQ</h1>
                            <div class="questions__accordions">
                                <div class="question-answer__accordion">
                                    <div class="question">
                                        <h2 class="title__question">1. How long does it take to learn calligraphy?</h2>
                                        <img src="/img/faq/icon-arrow-down.svg">
                                    </div>
                                    <div class="answer">
                                        <p style="text-align:left">
                                            This question, of course, depends on how much time you have to dedicate to
                                            calligraphy. It
                                            only
                                            takes a day to get the
                                            mechanics of it down (thus the popularity of single day calligraphy
                                            workshops)! But
                                            proficiency, of
                                            course, takes
                                            practice. For most people with a fairly busy schedule, it will take two
                                            months until you’re
                                            making
                                            things that you’re
                                            modestly proud of. You can find my two month plan for learning calligraphy
                                            here.
                                        </p>
                                    </div>
                                </div>
                                <div class="question-answer__accordion">
                                    <div class="question">
                                        <h2 class="title__question">2. Can you teach yourself calligraphy?</h2>
                                        <img src="/img/faq/icon-arrow-down.svg">
                                    </div>
                                    <div class="answer">
                                        <p style="text-align:left">
                                            Sure! I’ll use myself as an example. I’ve got an entire blog post that
                                            explains how I learned calligraphy (read it
                                            here). Here’s the gist of it: With the help of the internet, I started
                                            teaching myself calligraphy in 2012. Knowledge
                                            came to me in little scraps: everything I saw helped me to learn, albeit in
                                            a roundabout sort of way, so it took me
                                            about a year to feel comfortable with my skill level. You’ve got an
                                            advantage over me because the TPK website exists,
                                            and with it, you’ve got comprehensive online courses and tons of helpful
                                            articles.
                                        </p>
                                    </div>
                                </div>
                                <div class="question-answer__accordion">
                                    <div class="question">
                                        <h2 class="title__question">3. What causes ink to bleed?</h2>
                                        <img src="/img/faq/icon-arrow-down.svg">
                                    </div>
                                    <div class="answer">
                                        <p style="text-align:left">
                                            Ink bleed is one of the most common beginner issues, and it almost always
                                            has to do with your materials. Paper is
                                            everything, and you can learn about the optimal papers to use in this
                                            article! My favorite practice paper is 32#
                                            laserjet because it’s wonderful for the dip pen and so economical. If you
                                            have to write on paper that’s not conducive to
                                            calligraphy, you can try thickening up your ink with gum arabic to
                                            discourage the ink from quickly soaking into the
                                            paper.
                                        </p>
                                    </div>
                                </div>
                                <div class="question-answer__accordion">
                                    <div class="question">
                                        <h2 class="title__question">4. Is calligraphy more difficult for lefties?</h2>
                                        <img src="/img/faq/icon-arrow-down.svg">
                                    </div>
                                    <div class="answer">
                                        <p style="text-align:left">
                                            It’s difficult to put all lefties into one general group. Lefties who don’t
                                            have a problem keeping their hand under what
                                            they’re writing (in everyday life) generally experience a smoother
                                            transition into calligraphy. Lefties who write with a
                                            hook might have a little bit more trouble figuring out the optimal hand
                                            position. Whether you’re right- or left-handed,
                                            calligraphy success is all in finding the grip that works for you. Your grip
                                            should facilitate comfort and give you the
                                            power to exert balanced pressure on both the left and right tines of the
                                            nib. Here are two helpful articles for lefties
                                            on TPK
                                        </p>
                                    </div>
                                </div>
                                <div class="question-answer__accordion">
                                    <div class="question">
                                        <h2 class="title__question">5. How do I know when to switch nibs?</h2>
                                        <img src="/img/faq/icon-arrow-down.svg">
                                    </div>
                                    <div class="answer">
                                        <p style="text-align:left">
                                            If your nib’s tines have split, your nib feels uncomfortable and scratchy,
                                            or your upstrokes are too wide, it’s probably
                                            time to switch out your nib. You can find a detailed article about how to
                                            know when to put in a nib into retirement
                                            here.
                                        </p>
                                    </div>
                                </div>
                                <div class="question-answer__accordion">
                                    <div class="question">
                                        <h2 class="title__question">6. What projects can you make with calligraphy?</h2>
                                        <img src="/img/faq/icon-arrow-down.svg">
                                    </div>
                                    <div class="answer">
                                        <p style="text-align:left">
                                            This question is one that I venture to answer again — and again (and again!)
                                            — here on the TPK blog. It’s important to
                                            me to find new, innovative ways to use calligraphy … implementations that go
                                            beyond the envelope. You can find a list of
                                            my favorite “real life” calligraphy projects by clicking here.

                                        </p>
                                    </div>
                                </div>
                                <div class="question-answer__accordion">
                                    <div class="question">
                                        <h2 class="title__question">7. Can you make money with your calligraphy skills?
                                        </h2>
                                        <img src="/img/faq/icon-arrow-down.svg">
                                    </div>
                                    <div class="answer">
                                        <p style="text-align:left">
                                            You can absolutely use your calligraphy to make some extra money. TPK’s
                                            roots are in custom envelope calligraphy; I
                                            loved getting to write on envelopes for clients’ events! Later, I did
                                            wedding invitation design, made custom maps, and
                                            designed logos. Here are some articles that can help you to get started
                                            monetizing your skills
                                        </p>
                                    </div>
                                </div>
                                <div class="question-answer__accordion">
                                    <div class="question">
                                        <h2 class="title__question">8. What are the benefits of learning calligraphy?
                                        </h2>
                                        <img src="/img/faq/icon-arrow-down.svg">
                                    </div>
                                    <div class="answer">
                                        <p style="text-align:left">
                                            You can absolutely use your calligraphy to make some extra money. TPK’s
                                            roots are in custom envelope calligraphy; I
                                            loved getting to write on envelopes for clients’ events! Later, I did
                                            wedding invitation design, made custom maps, and
                                            designed logos. Here are some articles that can help you to get started
                                            monetizing your skills
                                        </p>
                                    </div>
                                </div>
                                <div class="question-answer__accordion">
                                    <div class="question">
                                        <h2 class="title__question">9. How do you get smooth, fluid flourishes?
                                        </h2>
                                        <img src="/img/faq/icon-arrow-down.svg">
                                    </div>
                                    <div class="answer">
                                        <p style="text-align:left">
                                            My best advice for flourishing is to make a pencil draft first! Sometimes, a certain flourish will seem like a good idea
                                            until you try it out. It’s better to learn that a flourish doesn’t work in pencil rather than in ink. As you make
                                            flourishes, try to think in ovals rather than circles. Flourishes that look more like a circle often have a less
                                            professional look. Finally, take it slow! Think of each stroke juncture as an opportunity to take a tiny break and
                                            gather up the confidence to make another lovely, confident stroke. For more information, see the articles below.
                                        </p>
                                    </div>
                                </div>
                                <div class="question-answer__accordion">
                                    <div class="question">
                                        <h2 class="title__question">10. What is the top problem that calligraphy learners run into?
                                        </h2>
                                        <img src="/img/faq/icon-arrow-down.svg">
                                    </div>
                                    <div class="answer">
                                        <p style="text-align:left">
                                            Problem areas vary for each calligraphy learner, but in general, I notice that pressure exertion gives beginners
                                            trouble! As you’re writing, it’s important to exert balanced pressure on both tines of the nib. Otherwise, your nib will
                                            catch on paper, you’ll have issues with ink flow, and it will be difficult to control the thickness of your strokes. To
                                            learn how to fix this and the other seven beginner issues that I often see, read this article.
                                        </p>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </main>
                </div>
                <%-include('../partial/footer.ejs')%>
                    <%-include('../partial/js.ejs')%>
                        <script src="/js/faq.js"></script>
    </body>

    </html>