<%-include('../partial/head.ejs')%>
    <head>
        <title>Gallery</title>
        <link rel="stylesheet" href="/css/gallery.css">
    </head>
    <body>
        <%-include('../partial/loader.ejs')%>
            <%-include('../partial/sidebar.ejs')%>
                <div class="box">
                    <div class="container-card ">
                        <div class="card" data-toggle="modal" data-target="#exampleModal">
                            <div class="imgBx">
                                <img src="/img/gallery/img1.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post One</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img2.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Two</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img3.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Three</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img4.png" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Four</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img5.png" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Five</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img6.png" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img7.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img8.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img9.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img10.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img11.png" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img12.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img13.png" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img14.png" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img15.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img16.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="/img/gallery/img1.jpg" alt="">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nemo autem
                                    doloremque! Voluptates mollitia harum suscipit maiores. Vel nulla beatae, aliquid in
                                    nobis minus odit et praesentium harum impedit illum.
                                    Beatae, modi sunt? Molestiae doloremque dicta amet quibusdam deserunt provident,
                                    esse officiis laborum autem, veniam magnam in. Corporis, doloremque? Magni at
                                    sapiente maxime, quam expedita repudiandae voluptatibus aliquam aliquid fugit.
                                    Aut eaque maiores deleniti nisi doloribus, suscipit perferendis! Sequi ipsam sint
                                    enim sit qui impedit nihil aliquid ab sapiente animi dolores illum, suscipit
                                    excepturi, dolorum, debitis velit! In, itaque maxime.
                                    Veritatis adipisci ad pariatur illo, rerum animi obcaecati. Dolore molestiae illum
                                    dolorem ducimus velit fugit explicabo, est fugiat ab hic mollitia laboriosam enim
                                    nesciunt error pariatur suscipit saepe quibusdam magni!
                                    Doloribus cumque, esse omnis excepturi impedit earum. Ipsam, dolore ut enim
                                    voluptas, quo, odio facere cum eius magni corporis fuga architecto numquam amet
                                    dolores temporibus voluptatibus deleniti ratione laboriosam repudiandae.
                                    Sit veniam amet eius, exercitationem veritatis quisquam quidem! Fugiat odit, veniam
                                    nemo quaerat consectetur expedita earum amet sit ducimus, rerum minus voluptatum
                                    libero ipsa in debitis culpa adipisci ex suscipit.
                                    Velit qui ullam odio, natus modi est cumque quae sunt libero? Porro aspernatur nam
                                    eum dolore, accusantium odio itaque animi? Consequatur quidem velit perferendis
                                    molestiae iusto quam nisi impedit repellat?
                                    Unde repellendus harum sapiente sequi necessitatibus delectus ad tempora quam
                                    reiciendis ullam ut deleniti illo, recusandae tenetur dolorem earum dicta similique
                                    excepturi voluptatum nulla officia iste, incidunt possimus. Amet, neque.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Photo Grid -->
                <!-- <div class="container-img">
        <div class="column-category column ">
            <img src="/img/gallery/img1.jpg" style="width:100%">
            <img src="/img/gallery/img2.jpg" style="width:100%">
            <img src="/img/gallery/img4.png" style="width:100%">
            <img src="/img/gallery/img3.jpg" style="width:100%">
            <img src="/img/gallery/img5.png" style="width:100%">
            <img src="/img/gallery/img8.jpg" style="width:100%">
            <img src="/img/gallery/img7.jpg" style="width:100%">
        </div>
        <div class="column-category column">
            <img src="/img/gallery/img8.jpg" style="width:100%">
            <img src="/img/gallery/img9.jpg" style="width:100%">
            <img src="/img/gallery/img10.jpg" style="width:100%">
            <img src="/img/gallery/img11.png" style="width:100%">
            <img src="/img/gallery/img12.jpg" style="width:100%">
            <img src="/img/gallery/img14.png" style="width:100%">
        </div>
        <div class="column-category column">
            <img src="/img/gallery/img13.png" style="width:100%">
            <img src="/img/gallery/img15.jpg" style="width:100%">
            <img src="/img/gallery/img16.jpg" style="width:100%">
            <img src="/img/gallery/img17.png" style="width:100%">
            <img src="/img/gallery/img18.jpg" style="width:100%">
            <img src="/img/gallery/img19.jpg" style="width:100%">
            <img src="/img/gallery/img20.jpg" style="width:100%">
           
        </div>
    </div> -->
                <%-include('../partial/footer.ejs')%>
                <%-include('../partial/js.ejs')%>
                <script src="/js/contact.js"></script>
    </body>

    </html>