<%-include('../partial/head.ejs')%>
    <head>
        <title>Gallery</title>
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/gallery.css">
    </head>
    <body>
<%-include('../partial/loader.ejs')%>
<%-include('../partial/sidebar.ejs')%>

<main role="main" id="main" style="background: floralwhite">
    <section class="tiles-a">
        <ul>
            <li>
                <a href="#" style="background: url('/img/demo-gallery/Nu-Thu-Phap-An-Do-Qa-02.jpg'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                        <img src="/img/demo-gallery/img1.jpg" alt="Starry Night">
                        <div class="text-copy wrapper">
                                <h3>Qamar Dagar - a famous calligraphy woman in India - was really creative when blending traditional calligraphy with modern images.</h3>
                            <p>
                                India has 22 different languages, but the real beauty is not just hearing them speak, but seeing them perform in writing.
                                The bustling streets of Delhi's Urdu Bazaar shopping district were once crowded with long lines waiting for calligraphy. The giver sat on the steps of the Jama mosque and put his pen on the paper. They chatted, enjoyed tea and some curious tourists watched them work. In today's modern society, only a few people do this work.
                                One of them, the famous calligraphy house - Qamar Dagar in New Delhi - is fighting to preserve the tradition that exists in an increasingly digitalized era.
                            </p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" style="background: url('/img/demo-gallery/img-02-backgroud.jpg'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                        <img src="/img/demo-gallery/img2.jpg" alt="Ocean beach">
                        <div class="text-copy wrapper">
                            <h3>Qamar Dagar - a famous calligraphy woman in India - was really creative when blending traditional calligraphy with modern images.</h3>
                            <p>"Calligraphy is a spiritual practice," explained Ms. Dagar, "because it allows one to understand oneself and to train self-discipline through this medium." At the same time, it is also a form. express yourself.
                                Ms. Dagar uses an abstract style - called picture calligraphy - that combines words and pictures to reveal personal understanding of the words being depicted.
                            </p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" style="background: url('http://www.hindigraphics.in/wp-content/uploads/2020/04/b4-1024x576.jpg'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                        <img src="http://www.hindigraphics.in/wp-content/uploads/2020/04/b4-1024x576.jpg" alt="Manhattan">
                        <div class="text-copy wrapper">
                            <h3>Caligraphy</h3>
                            <p>Hindi alphabets a calligraphy</p>
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" style="background: url('/img/demo-gallery/img-04-background.jpg'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                        <img src="/img/demo-gallery/img-04-background.jpg" alt="Large bridge">
                        <div class="text-copy wrapper">
                            <h3>Calligraphy painting: word "person"</h3>
                            <p>Human is a social creature, living in herds, with a certain hierarchy determined from friction and tradition.</p>
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" style="background: url('/img/demo-gallery/img-05-background.jpg'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                        <img src="/img/demo-gallery/img-05-background.jpg" alt="Large bridge">
                        <div class="text-copy wrapper">
                            <h3>Calligraphy of Thuan</h3>
                            <p>
                                In the past, the folk concept of Thuan is often understood as favorable and harmonious. Referring to the word "Thuan, people immediately think of harmony, luck, always wish for the convenience and smooth success in life.
                            </p>
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" style="background: url('/img/demo-gallery/img-06-background.jpg'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                        <img src="/img/demo-gallery/img-06.jpg" alt="Goat-like animal">
                        <div class="text-copy wrapper">
                            <h3>Calligraphic wallpapers of the most beautiful PATTERN</h3>
                            <p>In life, perhaps PATIENCE is essential. The brave person is to know how to stop and suppress
                                himself at the right time. Calligraphy pictures of the word NHAN above will show the deep meaning of the word NHAN</p>
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" style="background: url('/img/demo-gallery/img-07-background.jpg'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                        <img src="/img/demo-gallery/img-07.jpg" alt="Starry Night">
                        <div class="text-copy wrapper">
                            <h3>The lingering charm of Chinese calligraphy</h3>
                            <p>Since the invention of the "Oracle bone script," Chinese calligraphy has experienced several development stages, from "Seal script" to "Clerical script," "Cursive script," "Regular script" and "Running script." There are a large number of calligraphers and calligraphic works that were produced and helped constitute a profound tradition of Chinese calligraphy at each stage.</p>
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" style="background: url('/img/demo-gallery/img-08-background.jpg'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                        <img src="/img/demo-gallery/img-08-background.jpg" alt="Ocean beach">
                        <div class="text-copy wrapper">
                            <h3>Modern Interpretations</h3>
                            <p>
                                Following the rule of Chairman Mao and the Great Proletarian Cultural Revolution, during which old culture and customs were banished, the ancient artform was altered as younger generations didn’t have a pervasive knowledge of the classic form. Later in the 20th century, President Xiaoping pursued a cultural recovery encouraging a calligraphy comeback.
                            </p>
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" style="background: url('/img/demo-gallery/img-09-background.jpg'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                        <img src="/img/demo-gallery/img-09.jpg" alt="Manhattan">
                        <div class="text-copy wrapper">
                            <h3>Chinese Calligraphy</h3>
                            <p>There are few things more gratifying than the development of skills that help you make a connection between your present and an art form dating back thousands of years. Learning the art of Chinese calligraphy is one way to explore either heritage or an interesting example of culture. Take a class on Chinese calligraphy to begin your journey into the studies of the intricate but beautiful art.</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </section>

</main>
<aside role="complementary" id="aside" aria-hidden="true" aria-expanded="false">
    <a href="#" class="close"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/close-white-thin.svg" alt="Close button"><span class="visually-hidden">Return to main content</span></a>
    <div class="aside--details" tabindex="0" aria-live="polite" aria-atomic="true" aria-label="Image details">
    </div>
</aside>
<!--/Gallery-->
<!--pagination-->
<%-include('../partial/footer.ejs')%>
<%-include('../partial/js.ejs')%>
<script src="/js/contact.js"></script>
<script type="text/javascript" src="/js/gallery.js"></script>


</body>
</html>
