<%-include('../partial/head.ejs')%>
    <head>
        <title>Gallery</title>
        <link rel="stylesheet" href="/css/gallery.css">
    </head>
    <body>
        <%-include('../partial/loader.ejs')%>
            <%-include('../partial/sidebar.ejs')%>
                <div class="box">
                    <div class="container-card ">
                        <div class="card" data-toggle="modal" data-target="#exampleModal">
                            <div class="imgBx">
                                <img src="/img/gallery/img1.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post One</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card" data-toggle="modal" data-target="#exampleModal">
                            <div class="imgBx">
                                <img src="/img/gallery/img2.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Two</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img3.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Three</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img4.png" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Four</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img5.png" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Five</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img6.png" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img7.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img8.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img9.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img10.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img11.png" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img12.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img13.png" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img14.png" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img15.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx">
                                <img src="/img/gallery/img16.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2>Post Six</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, consequuntur
                                        omnis. Nemo quasi
                                        minima excepturi repudiandae in explicabo incidunt porro quam. Officiis in
                                        explicabo vero
                                        mollitia quas consectetur suscipit dolorem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="/img/gallery/img1.jpg" alt="">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
<%-include('../partial/footer.ejs')%>
<%-include('../partial/js.ejs')%>
<script src="/js/contact.js"></script>
<script></script>


    </body>
    </html>
