<%-include('../partial/head.ejs')%>
    <head>
        <title>Gallery</title>
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/gallery.css">
    </head>
    <body>
<%-include('../partial/loader.ejs')%>
<%-include('../partial/sidebar.ejs')%>

<main role="main" id="main" style="background: floralwhite">
    <section class="tiles-a">
        <ul>
            <% for(var i = 0; i < list.length; i++) {
                var arrayImage = list[i].thumbnail.split(',');
            %>
                <li>
                    <% if (arrayImage.length > 0){
                            for (var j = 0; j < arrayImage.length; j++) {
                             if(arrayImage[j].length === 0){continue;}
                    %>
                    <a href="#" style="background: url('<%=arrayImage[j]%>'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                        <div class="details visually-hidden">
                            <img src="<%=arrayImage[j]%>" alt="Starry Night">
                            <%
                            }
                            }%>
                            <div class="text-copy wrapper">
                                <h3><%= list[i].name%></h3>
                                <p><%= list[i].description%></p>
                            </div>
                        </div>
                    </a>
                </li>
            <%
            }
            %>

        </ul>
    </section>
</main>
<aside role="complementary" id="aside" aria-hidden="true" aria-expanded="false">
    <a href="#" class="close"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/close-white-thin.svg" alt="Close button"><span class="visually-hidden">Return to main content</span></a>
    <div class="aside--details" tabindex="0" aria-live="polite" aria-atomic="true" aria-label="Image details">
    </div>
</aside>
<!--/Gallery-->
<!--pagination-->
<%-include('../partial/footer.ejs')%>
<%-include('../partial/js.ejs')%>
<script src="/js/contact.js"></script>
<script type="text/javascript" src="/js/gallery.js"></script>


</body>
</html>
