<!DOCTYPE html>
<html lang="en">
<!--Header-->
<%-include('../partial/header')%>
<!--Header-->
<body>
<div class="wrapper">
    <!-- sidebar -->
    <%-include('../partial/left-menu.ejs')%>
    <div class="main">
        <!-- nav-bar -->
        <%-include('../partial/nav-bar.ejs')%>
        <main class="content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <h1>Delete photo</h1>
                                <form action="/admin/gallery/delete?id=<%=item._id%>" name="galleryForm" method="post">
                                    <div class="mb-3">
                                        <label class="form-label">Title</label>
                                        <input type="text" class="form-control" placeholder="Title" name="name" value="<%=item.name%>">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Description</label>
                                        <input type="text" class="form-control" placeholder="Description" name="description" value="<%=item.description%>">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Thumbnail</label>
                                        <div id="preview-img" class="mb-3">
                                            <%
                                            var arrayImage = item.thumbnail.split(',');
                                            %>
                                            <% if (arrayImage.length > 0){
                                            for (var j = 0; j < arrayImage.length; j++) {
                                                if(arrayImage[j].length === 0){ continue;}
                                            %>
                                            <img src="<%=arrayImage[j]%>" style="width:100px" class="img-thumbnail" alt="">
                                            <%
                                            }
                                            }%>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-danger">Confirm</button>
                                    <a href="/admin/gallery">
                                        <button type="button" class="btn btn-dark float-right">Back to list</button>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- footer -->
        <%-include('../partial/footer.ejs')%>
    </div>
</div>
<%-include('../partial/js.ejs')%>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<script type="text/javascript">
    var firstTime = true;
    var myWidget = cloudinary.createUploadWidget({
            cloudName: 'dxvv37gf5',
            uploadPreset: 'vqholzvg'},
        (error, result) => {
            if (!error && result && result.event === "success") {
                console.log('Done! Here is the image info: ', result.info.secure_url);
                var previewImg = document.getElementById('preview-img');
                if (firstTime) {
                    document.forms['galleryForm']['thumbnail'].value = result.info.secure_url + ',';
                    previewImg.innerHTML = `<img style="width: 150px;" src="${result.info.secure_url}" alt="" class="img-thumbnail img-bordered mr-2">`
                    firstTime = false;
                } else {
                    document.forms['galleryForm']['thumbnail'].value += result.info.secure_url + ',';
                    previewImg.innerHTML += `<img style="width: 150px;" src="${result.info.secure_url}" alt="" class="img-thumbnail img-bordered mr-2">`
                }
            }
        }
    )
    document.getElementById("upload_widget").addEventListener("click", function(){
        myWidget.open();
    }, false);
</script>
</body>
</html>