
<!DOCTYPE html>
<html lang="en">
<!--Header-->
<%-include('../partial/header')%>
<!--Header-->
<body>
<div class="wrapper">

    <!--left-menu-->
    <%-include('../partial/left-menu')%>
    <!--left-menu-->
    <div class="main">

        <!--Navbar-->
        <%-include('../partial/nav-bar')%>
        <!--Navbar-->
        <main class="content">
            <div class="container-fluid p-0">
                <h1 class="h3 mb-3">Thông tin chi tiết</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="/admin/gallery/create" method="post">
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputEmail4"><h4>Tên bài viết</h4></label>
                                            <p><%=item.name%></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="mb-3 col-md-3">
                                            <label class="form-label" for="inputEmail4"><h4>Nội dung bài viết</h4></label>
                                            <p><%=item.description%></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="mb-3 col-md-10">
                                            <label class="form-label" for="inputEmail4"><h4>Hình ảnh</h4></label>
                                            <div><img src="<%=item.thumbnail%>" style="width: 300px" alt=""></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label" for="inputEmail4"><h4>Tác giả</h4></label>
                                            <p><%=item.author%></p>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="/admin/gallery/edit?id=<%=item._id%>"><button type="button" class="btn btn-primary">Edit</button></a>
                                        <a href="/admin/gallery/delete?id=<%=item._id%>"><button type="button" class="btn btn-danger">Delete</button></a>
                                        <a href="/admin/gallery"><button type="button" class="btn btn-dark float-right">Back to list</button></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <!--footer-->
        <%-include('../partial/footer')%>
        <!--footer-->
    </div>
</div>
<%-include('../partial/js.ejs')%>
</body>

</html>