<!DOCTYPE html>
<html lang="en">
<!--Header-->
    <%-include('../partial/header')%>
<!--Header-->
<body>
<div class="wrapper">

    <!--left-menu-->
    <%-include('../partial/left-menu')%>
    <!--left-menu-->
    <div class="main">

    <!--Navbar-->
    <%-include('../partial/nav-bar')%>
    <!--Navbar-->
        <main class="content">
            <div class="container-fluid p-0">
                <h1 class="h3 mb-3">Form</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="/admin/gallery/create" method="post">

                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputEmail4">Name of the article</label>
                                            <input type="text" class="form-control"  placeholder="" name="name" value="<%= typeof item !== "undefined" ? item.name : ''%>">
                                            <span class="text-danger"><%= typeof errors !== "undefined" && errors.name ? errors.name.message : ''%></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="mb-3 col-md-3">
                                            <label class="form-label" for="inputEmail4">Content</label>
                                            <textarea class="form-control" name="description" placeholder="Textarea" rows="1" style="margin-top: 0px; margin-bottom: 0px; height: 114px;"><%= typeof item !== "undefined" ? item.description : ''%></textarea>
                                            <span class="text-danger"><%= typeof errors !== "undefined" && errors.description ? errors.description.message : ''%></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="mb-3 col-md-10">
                                            <label class="form-label" for="inputEmail4">Post photo</label>
                                            <input type="text" class="form-control"  placeholder="" name="thumbnail" value="<%= typeof item !== "undefined" ? item.thumbnail : ''%>">
                                            <span class="text-danger"><%= typeof errors !== "undefined" && errors.thumbnail ? errors.thumbnail.message : ''%></span>
                                        </div>
                                    </div>

<!--                                    <div class="row">-->
<!--                                        <div class="mb-3 col-md-4">-->
<!--                                            <label class="form-label" for="inputEmail4">Tên tác giả</label>-->
<!--                                            <input type="text" class="form-control"  placeholder="Nhập tên tác giả" name="author">-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

    <!--footer-->
    <%-include('../partial/footer')%>
    <!--footer-->
    </div>
</div>
<%-include('../partial/js.ejs')%>
</body>

</html>