<!-- header -->
<%-include('../partial/header.ejs')%>
<body>
<div class="wrapper">
    <!-- sidebar -->
    <%-include('../partial/left-menu.ejs')%>
    <div class="main">
        <!-- nav-bar -->
        <%-include('../partial/nav-bar.ejs')%>
        <main class="content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h3>Delete category</h3>
                            </div>
                            <div class="card-body">
                                    <div class="mb-3 row">
                                        <div class="col-sm-12">
                                            <label>Are you sure you want to delete category:</label>
                                            <%=item.name%>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-sm-12">
                                            <label>Description:</label>
                                            <%=item.description%>
                                        </div>
                                    </div>
                            </div>
                            <div class="card-footer">
                                <form action="/admin/categories/delete?id=<%=item._id%>" method="post">
                                    <button class="btn btn-danger">Confirm</button>
                                    <a href="/admin/categories"><button type="button" class="btn btn-dark float-right">Back To List</button></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- footer -->
        <%-include('../partial/footer.ejs')%>
    </div>
</div>
<!-- js -->
<%-include('../partial/js.ejs')%>
</body>

</html>