<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="#">
            <span class="align-middle">Calligraphy Admin</span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a data-target="#forms_1" data-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="list"></i> <span class="align-middle">Manage Category</span>
                </a>
                <ul id="forms_1" class="sidebar-dropdown list-unstyled <%=url.includes('/admin/categories') ? ' ' : ' collapse'%>" data-parent="#sidebar" >
                    <li class="sidebar-item <%=(url =='/admin/categories') ? ' active' : ''%>"><a class="sidebar-link" href="/admin/categories">List Category</a></li>
                    <li class="sidebar-item <%=(url =='/admin/categories/create') ? ' active' : ''%>"><a class="sidebar-link" href="/admin/categories/create">Create New Category</a></li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a data-target="#forms_2" data-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="book-open"></i> <span class="align-middle">Manage Article</span>
                </a>
                <ul id="forms_2" class="sidebar-dropdown list-unstyled <%=url.includes('/admin/article') ? ' ' : ' collapse'%>" data-parent="#sidebar">
                    <li class="sidebar-item <%=url.includes('/admin/article?categoryId') ? ' active ' : ' '%>"><a class="sidebar-link" href="/admin/article?categoryId=&keyword=&page=1&limit=5">List Article</a></li>
                    <li class="sidebar-item <%=(url =='/admin/article/create') ? ' active' : ''%>"><a class="sidebar-link" href="/admin/article/create">Create New Article</a></li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a data-target="#forms_3" data-toggle="collapse" class="sidebar-link collapsed" >
                    <i class="align-middle" data-feather="image"></i> <span class="align-middle">Manage Gallery</span>
                </a>
                <ul id="forms_3" class="sidebar-dropdown list-unstyled <%=url.includes('/admin/gallery') ? ' ' : ' collapse'%>" data-parent="#sidebar">
                    <li class="sidebar-item <%=url.includes('/admin/gallery?page') ? ' active ' : ' '%>"><a class="sidebar-link" href="/admin/gallery?page=1">List Photo</a></li>
                    <li class="sidebar-item <%=(url =='/admin/gallery/create') ? ' active' : ''%>"><a class="sidebar-link" href="/admin/gallery/create">Add New Photo</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>