<%- include('../partial/head.ejs') %>
<head>
    <link rel="stylesheet" href="/css/blog_detail.css">
    <title><%= item.name %></title>
    <style>
        section h1 {
            font-size: xx-large;
            font-family: 'Segoe UI",Arial,sans-serif;
        }

        section h3 {
            color: darkblue;
            font-size: large;
            font-family: 'Montserrat Alternates', sans-serif;
        }

        .a-link {
            color: #2222a2;
            font-size: 18px;
            text-decoration: underline
        }

        .i-icon {
            color: #2222a2;
            font-size: 18px;
            margin-right: 9px;
            margin-top: 3px;
        }

        .h2-01 {
            font-style: italic;
            font-family: "Poppins", sans-serif
            color: #8c0615;
        }

        .center {
            margin: auto;
            padding: 10px;
        }

    </style>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0"
            nonce="usB5JJXB"></script>
</head>
<body>
<%- include('../partial/sidebar.ejs') %>
<%- include('../partial/loader.ejs') %>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }

    .col-sticky {
        position: relative;
        top: 0;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">
    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="<%= item.thumnail %>" alt="Nature" style="width:auto; height: 120px">
                <div class="w3-container">
                    <h3><b><%= item.name %></b></h3>
                    <h5><span
                                class="w3-opacity"><%= moment(item.createAt).format('DD MMMM YYYY') %></span></h5>
                    <div class="mt-3 mb-3">
                        <div class="rw-ui-container mt-2 mb-3"></div>
                    </div>
                </div>

                <div class="w3-container">
                    <p><%= item.articleDescription %></p>
                </div>
            </div>
            <hr>

            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="https://res.cloudinary.com/quynv300192/image/upload/c_fill,h_220,w_720/v1619878408/PROJECT%20KI%201/a3_wvxrcw.jpg"
                     alt="Norway" style="width:100%">
                <div class="w3-container">
                    <p><%- item.articleDetail %></p>
                </div>
            </div>
            <!-- END BLOG ENTRIES -->
        </div>

        <!-- Introduction menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
                <img src="../../../img/article_detail/bridge.jpg" style="width:100%">
                <div class="w3-container w3-white">
                    <h4><b>Recently viewed article</b></h4>
                    <div class="w3-ul w3-hoverable w3-white container">
                        <% var showList = 0
                        if (recentView.length < 6) {
                            showList = recentView.length;
                        } else {
                            showList = 6;
                        }
                        %>
                        <% for(var i = 0; i < showList; i++) {
                        %>
                            <a href="/article/detail?id=<%= recentView[i]._id %>&categoryID=<%= recentView[i].category._id %>">
                                <div class="row">
                                    <div class="col-lg-10 pl-5">
                                        <h3 style="font-size:  small"><%= recentView[i].name %></h3>
                                    </div>
                                    <div class="col-lg-2 justify-content-center">
                                        <i style="font-size: larger; color: dimgray" class="fa fa-commenting "
                                           aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        <%
                        } %>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Posts -->
            <div class="w3-container  w3-white w3-margin w3-margin-top">
                <div class="w3-container w3-padding">
                    <h4 style="font-family: 'Raleway, sans-serif', sans-serif" class="text-left">Learn more
                        about <%= item.category.name %></h4>
                    <p>Education is the most powerful weapon we use to change the world..</p>
                </div>
                <div class="w3-ul w3-hoverable w3-white container">
                    <%
                    var lisLength = 0;
                    if (list.length < 5) {
                        lisLength = list.length;
                    } else {
                        lisLength = 5
                    }
                    %>
                    <% for(var i = 0; i < lisLength; i++) {
                    %>
                        <% if (list[i]._id.equals(item._id)){
                            continue;
                        }else {
                        %>
                            <a href="/article/detail?id=<%= list[i]._id %>&categoryID=<%= list[i].category._id %>">
                                <div class="row">
                                    <div class="col-lg-10 pl-5">
                                        <h3 style="font-size:  small"><%= list[i].name %></h3>
                                    </div>
                                    <div class="col-lg-2 justify-content-center">
                                        <i style="font-size: larger" class="fa fa-commenting " aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        <%
                        } %>
                    <%
                    } %>
                </div>
            </div>
            <hr>

            <!-- Labels / tags -->
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Tags</h4>
                </div>
                <div class="w3-container w3-white">
                    <p><span class="w3-tag w3-black w3-margin-bottom">Caligraphy For Beginer</span> <span
                                class="w3-tag w3-light-grey w3-small w3-margin-bottom">Arabic</span> <span
                                class="w3-tag w3-light-grey w3-small w3-margin-bottom">Greek</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Indic</span> <span
                                class="w3-tag w3-light-grey w3-small w3-margin-bottom">For Kids </span>
                    </p>
                </div>
            </div>
            <!-- END Introduction Menu -->
        </div>

        <!-- END GRID -->
    </div>
    <br>
    <!-- END w3-content -->
</div>
</body>
</html>

<main>
    <section class="container-xl">

        <br>
        </div>
        <div class="fb-comments" data-href="http://localhost:3000/article/detail?id=<%= item._id %>"
             data-width="800" data-numposts="3" data-order-by="reverse_time"></div>
    </section>
</main>
<%- include('../partial/footer.ejs') %>
<%- include('../partial/js.ejs') %>
<script src="/js/home.js"></script>
<script type="text/javascript">(function (d, t, e, m) {

        // Async Rating-Widget initialization.
        window.RW_Async_Init = function () {

            RW.init({
                huid: "475972",
                uid: "4a8ae4d9e652f3f8f30d9f9a135f446f",
                source: "website",
                options: {
                    "advanced": {
                        "font": {
                            "size": "20px",
                            "bold": true,
                            "type": "\"Comic Sans MS\""
                        }
                    },
                    "size": "large",
                    "type": "nero",
                    "style": "thumbs2",
                    "isDummy": false
                }
            });
            RW.render();
        };
        // Append Rating-Widget JavaScript library.
        var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
            l = d.location, ck = "Y" + t.getFullYear() +
            "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
            f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
            a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
        if (d.getElementById(id)) return;
        rw = d.createElement(e);
        rw.id = id;
        rw.async = true;
        rw.type = "text/javascript";
        rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
        s.parentNode.insertBefore(rw, s);
    }(document, new Date(), "script", "rating-widget.com/"));</script>
</body>
</html>